* {
    margin: 0;
}

header,
main {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.second-text,
.holiday-header {
    font-family: "Merriweather", serif;
    margin-top: 16px;
    font-size: 72px;
    font-weight: 900;
}

.banner-image,
.mid-night,
.mid-night-image,
.information,
.subscribe {
    border-radius: 16px;
}

.coming-soon-header,
.portfolio-header,
.subscribe-header {
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
}

.description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 22px;
}

.mid-night,
.coming-soon,
.holiday,
.email,
.icons {
    display: flex;
    justify-content: center;
}

.mid-night-content,
.upper-part,
.address-section,
.contact,
.terms {
    display: flex;
    justify-content: space-between;
}

.category-section,
.mid-night,
.information,
.holiday,
.portfolio,
.subscribe,
footer {
    margin-top: 120px;
}

.category-desc {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-bottom: 16px;
}

.coming-soon,
.holiday {
    align-items: center;
    gap: 70px;
}

.btn-join-now {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 48px;
}

/* Banner style start */
header {
    margin-top: 50px;
    align-items: center;
}

.banner-image {
    position: relative;
    overflow: hidden;
}

/* Code is for dark image */
.banner-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0));
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Merriweather", serif;
}

.first-text {
    font-size: 32px;
    font-weight: 400;
}

/* Banner style end */

/* All Categories section start */

.category-section {
    text-align: center;
    font-family: "Inter", sans-serif;
}

.category-text1 {
    font-size: 88px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin-bottom: 48px;
}

.category-text2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* All Categories section end */

/* Midnight party section start */
.mid-night {
    align-items: center;
}

.mid-night-image {
    position: relative;
    overflow: hidden;
}

.mid-night-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
}

.mid-night-content {
    align-items: center;
    text-align: center;
    gap: 40px;
    position: absolute;
    margin-left: 126px;
}

.mid-night-text {
    text-align: left;
    color: white;
    font-family: "Merriweather", serif;
}

.mid-night-header {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.mid-night-desc {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.6;
}

.mid-night-image2 {
    overflow: hidden;
    margin-right: 110px;
}

/* Midnight party section end */

/* Information section start */
.information {
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    text-align: center;
    padding: 100px 0 110px 0;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 1.5;
}

.color-text {
    color: red;
}

/* Information section end */

/* Coming soon section start */

#joy-img {
    padding: 50px;
    border-radius: 50%;
    border-style: double;
    border: 15px solid rgb(255, 0, 0);
    margin-right: 80px;
}

#year {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: red;
}

#new-year {
    margin-top: 47px;
}

/* Coming soon section end */

/* Holiday section start */
.holiday {
    flex-direction: column;
}

.holiday-text {
    text-align: center;
}

#holiday-desc {
    color: black;
}

#holiday-red {
    color: red;
}

.sell {
    position: relative;
    width: 1320px;
}

#lady {
    background-image: url("images/Group\ 44.png");
    position: relative;
    z-index: 0;
}

#discount {
    position: relative;
    z-index: 1;
    margin-left: 700px;
    margin-bottom: -400px;
}

#box {
    position: relative;
    z-index: 2;
    margin-bottom: -200px;
}

/* Holiday section end */

/* Portfolio section start */
.cart {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.cart img:hover {
    transform: scale(1.1);
}

/* Portfolio section end */

/* Subscribe section start */
.subscribe {
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
    font-family: "Inter", sans-serif;
}

.subscribe-header {
    margin-top: 40px;
    margin-bottom: 22px;
}

.email {
    margin-top: 48px;
}

#email-field {
    color: rgba(7, 2, 17, 0.6);
    padding: 25px 267px 25px 30px;
    border: none;
    border-radius: 50px 0 0 50px;
}

#btn-subscribe {
    border-radius: 0 50px 50px 0;
    padding: 24px 56px;
    font-size: 20px;
    font-weight: 600;
}

/* Subscribe section end */

/* Footer section start */

footer {
    background-color: rgb(7, 2, 17);
    color: white;
    padding: 120px 140px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.contact {
    gap: 16px;
}

.address-section p {
    line-height: 1.6;
}

.contact img {
    margin-top: 8px;
}

hr {
    margin: 50px 0 50px 0;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.icons {
    width: 62.5;
    height: 62.5;
    gap: 24px;
}

/* Footer section end */